In [ ]:
import pandas as pd
import sqlite3 as sql

In [ ]:
conn = sql.connect('/content/sql-murder-mystery.db')

In [ ]:
print(conn)

<sqlite3.Connection object at 0x7eabc260e740>

1.  Retrieve Crime Scene Report:   
Task: Run a query to retrieve the crime scene report for the murder that occurred on Jan.15, 2018, in SQL City. Gather all available details from the report.

In [ ]:
# Define the SQL query
query_1 = """
    SELECT *
    FROM crime_scene_report
    WHERE type = 'murder'
    AND city = 'SQL City'
    AND date = 20180115
"""

In [ ]:
# Use pandas to read the results of the query into a DataFrame
crime_reports_df = pd.read_sql_query(query_1, conn)

In [ ]:
# Print the retrieved crime reports DataFrame
print(crime_reports_df)

       date    type                                        description  \
0  20180115  murder  Security footage shows that there were 2 witne...

       city
0  SQL City

2. Witness Personal Details:   
Task: Check the personal details of witnesses involved in the case. Retrieve their names, addresses, and any other relevant information.

In [ ]:
# Define the SQL query
query_2= """
    SELECT *
    FROM person
    WHERE address_street_name = 'Northwestern Dr'
    ORDER BY address_number DESC
    LIMIT 1
"""

In [ ]:
# Use pandas to read the results of the query into a DataFrame
result_df = pd.read_sql_query(query_2, conn)

In [ ]:
# Print the retrieved result DataFrame
print(result_df)

      id            name  license_id  address_number address_street_name  \
0  14887  Morty Schapiro      118009            4919     Northwestern Dr

         ssn
0  111564949

3. View Witness Interviews:    
Task: Access the recorded interviews of witnesses conducted after the murder. Gather insights into their statements and potential clues.

In [ ]:
# Define the SQL query
query_3 = """
    SELECT *
    FROM interview
    WHERE person_id IN (14887, 16371)
"""

In [ ]:
# Use pandas to read the results of the query into a DataFrame
interviews_df = pd.read_sql_query(query_3, conn)

# Print the retrieved interviews DataFrame
print(interviews_df)

   person_id                                         transcript
0      14887  I heard a gunshot and then saw a man run out. ...
1      16371  I saw the murder happen, and I recognized the ...

4. Check Gym Database:    
Task: Investigate the gym database using details obtained from the crime scene report and witness interviews. Look for any gym-related information that might be relevant.

In [ ]:

# Define the SQL query
query_4 = """
    SELECT p.*, gfn.membership_start_date, gfn.membership_status
    FROM person AS p
    INNER JOIN drivers_license AS dl ON dl.id = p.license_id
    INNER JOIN get_fit_now_member AS gfn ON p.id = gfn.person_id
    INNER JOIN get_fit_now_check_in AS gfc ON gfc.membership_id = gfn.id
    WHERE plate_number LIKE '%H42W%'
    AND gender = 'male'
    AND membership_status = 'gold'
    AND gfn.id LIKE '48Z%'
    AND check_in_date = 20180109
"""

In [ ]:
# Use pandas to read the results of the query into a DataFrame
result_df = pd.read_sql_query(query_4, conn)

# Print the retrieved result DataFrame
print(result_df)

      id           name  license_id  address_number    address_street_name  \
0  67318  Jeremy Bowers      423327             530  Washington Pl, Apt 3A

         ssn  membership_start_date membership_status
0  871539279               20160101              gold

5. Check Car Details:    
Task: Examine the car details associated with the crime scene. Retrieve information about the vehicles present during the incident.

In [ ]:
query_5 = """
    SELECT *
    FROM drivers_license
    WHERE plate_number = '0H42W2'
"""

In [ ]:
# Use pandas to read the results of the query into a DataFrame
result_df = pd.read_sql_query(query_5, conn)

# Print the retrieved result DataFrame
print(result_df)

       id  age  height eye_color hair_color gender plate_number   car_make  \
0  423327   30      70     brown      brown   male       0H42W2  Chevrolet

  car_model
0  Spark LS

6. Personal Details:    
Task: Identify and collect personal details mentioned in the previous query. This includes names, addresses, and any additional details.

In [ ]:
query_6 = """
    SELECT *
    FROM person
    WHERE license_id = '423327'
"""

In [ ]:
# Use pandas to read the results of the query into a DataFrame
result_df = pd.read_sql_query(query_6, conn)

# Print the retrieved result DataFrame
print(result_df)

      id           name  license_id  address_number    address_street_name  \
0  67318  Jeremy Bowers      423327             530  Washington Pl, Apt 3A

         ssn
0  871539279

7. Membership Status at the Gym:    
Task: Determine who is identified in the previous query as a member of the gym. Utilize the gym database to confirm their membership status.

In [ ]:
# Define the SQL query to retrieve membership status at the gym for the person identified in the previous query
query_7 = """
    SELECT p.name, p.id AS person_id, gfn.membership_status
    FROM person AS p
    INNER JOIN get_fit_now_member AS gfn ON p.id = gfn.person_id
    WHERE p.license_id = '423327'
"""

In [ ]:
# Use pandas to read the results of the query into a DataFrame
result_df_7 = pd.read_sql_query(query_7, conn)

# Print the retrieved result DataFrame
print(result_df_7)

            name  person_id membership_status
0  Jeremy Bowers      67318              gold

In [ ]:
query='''
SELECT *
FROM interview
WHERE person_id = 67318
'''

In [ ]:
# Use pandas to read the results of the query into a DataFrame
result_df_7 = pd.read_sql_query(query, conn)

# Print the retrieved result DataFrame
print(result_df_7)

   person_id                                         transcript
0      67318  I was hired by a woman with a lot of money. I ...

##Finally, based on the available evidence, there is no conclusive indication that Jeremy Bowers is the murderer, and there is also no conclusive indication that Miranda Priestly is the mastermind behind the crime. Further investigation is necessary to establish any potential involvement or connections to the case.